@font-face {
    font-family: 'Bad Script', cursive;
    src: url('../fonts/Bad_Script/BadScript-Regular.ttf');
}

@font-face {
    font-family: 'Marck Script', cursive;
    src: url('../fonts/Marck_Script/MarckScript-Regular.ttf');
}

@font-face {
    font-family: 'Neucha', cursive;
    src: url('../fonts/Neucha/Neucha.ttf');
}

@font-face {
    font-family: 'Marmelad', sans-serif;
    src: url('../fonts/Marmelad/Marmelad-Regular.ttf');
}

.container {
    margin: 25px;
    line-height: 1.5;
}

.header {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin: 10px;
}

hr {
    margin: 0 5% 0 10%;
}

.poem-body {
    font-style: italic;
    margin-left: 50px;
}

.poem-footer {
    font-weight: 900;
}

.formula {
    font-style: italic;
}

.letter-container {
    font-family: 'Marck Script', cursive;
}

.poem-container {
    font-family: 'Neucha', cursive;
}

.formula-container {
    font-family: 'Bad Script', cursive;
}

.c-language-container {
    font-family: 'Marmelad', sans-serif;
}
